.hello
{
    width: 323px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 123px;
    left: 925px;
    padding-top: 50px;
    font-family: NTR;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.kix
{
    font-weight:400;color: red;padding-left: 80px;font-weight: 1000;

}
.field
{
    color:rgb(6, 6, 6) ; padding-left: 50px;font-weight: 1000;
}
.img
{
    padding-top: 100px;
}
.sub
{
    background-color:rgb(32, 112, 241);
    border-radius: 300px;
}
.cen
{
    width: 323px;
    color: rgba(0,0,0,1);
    position: absolute;
    bottom:70px;
    left: 900px;
    padding-top: 50px;
    font-family: NTR;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.HOMEKIX
{
    color:red ;font-weight: 500px;font-size: 50px;
}
.logbu
{
    position: absolute;
    background-color:rgb(32, 112, 241);
    border-radius: 300px;
    left:26%;
}
.lofo
{
    color:black ;text-decoration: none;padding-left: 50%;font-size: 12px;
}
.losi
{
    color:black ;text-decoration: none;
    font-size: 13px;
    position: absolute;
    bottom: 3%;
;
}
.hii
{
    width: 323px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 123px;
    left: 800px;
    font-family: NTR;
    font-size: 24px;
    opacity: 1;
    text-align: left;
   
}
.head
{
    color:rgb(6, 6, 6) ; padding-left: 50px;font-weight: 1000;
}
.leg
{
    font-weight: bolder;color: red;
    padding-left: 70px;
}
.foim
{
    padding-left: 325px;
}
.HLO{
    color:red;font: weight 1500px;font-size: 80px;right: 37%;
}
.fore
{
    color:rgb(6, 6, 6) ; padding-left: 50px;font-weight: 1000;
}
.seem
{
    font-size:30px
}
.submit
{
    background-color:rgb(32, 112, 241);
}
.HLO
{
    top: 111px;
    padding-top: 100px;
    padding-left: 720px;
    position: absolute;
}
.par
{
    font-size: 30PX;
}
.gh
{
    top: 123px;
    position: absolute;
    padding-top: 375px;
    padding-left: 250px;
}
.back
{
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.wo
{
    text-decoration:'none'; 
    
}
.kixway
{
    color:red;
}
.kixway:hover{
    color:green;
}
.co2
{
    position: absolute;
      left: 35%;
}
.co3
{
    position: absolute;
    left: 70%;   
}
.co1
{
    position: absolute;
    left: 5%;
}
.c1
{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.c2
{
    position: absolute;
      left: 35%;
      bottom: 5%;
}
.c3
{
    position: absolute;
    left: 70%;   
    bottom: 5%;
}
.hoi1
{
    position: absolute;
    right: 32%;
    bottom: 1%;
}
.hoi2
{
    position: absolute;
    bottom: 1%;
    right: 10%;

}
.b1
{
    position: absolute;
    left: 5%;
    top: 10%;
}
.b2
{
    position: absolute;
    left: 30%;
    top: 10%;
}
.b3
{
    position: absolute;
    left: 50%;
    top: 10%;
}
.b4
{
    position: absolute;
    left: 75%;
    top: 10%;
}
.bi1
{
    position: absolute;
    bottom: 20%;
    left: 5%;
}
.bi2
{
    position: absolute;
    bottom: 20%;
    left: 15%;
}
.bi3
{
    position: absolute;
    bottom: 20%;
    left: 25%;
}
.bi4
{
    position: absolute;
    bottom: 20%;
    left: 35%;
}
.bi5
{
    position: absolute;
    bottom: 20%;
    left: 45%;
}
.bi6
{
    position: absolute;
    bottom: 20%;
    left: 55%;
}
.bi7
{
    position: absolute;
    bottom: 20%;
    left: 65%;
}
.bi8
{
    position: absolute;
    bottom: 20%;
    left: 75%;
}
.bi9
{
    position: absolute;
    bottom: 20%;
    left: 85%;
}
.Hom
{
    position: absolute;
    left: 10%;
    bottom: 1%;
}   
.cart
{
    position: absolute;
    right: 8%;
    padding-bottom: 10px;
}
.back1
{
    position: absolute;
    top:10px;
    left:10px;
    color:black;
  text-decoration: none;
}
.back1:hover
{
    color: red;
}
